@import "~font-awesome/css/font-awesome.css";
@import 'fonts';
@import 'constants';
@import 'elements';
@import 'forms';
@import 'overlay';
@import 'entry';
@import 'toc';

#root, .app, main {
  height: 100%;
}

.page {
  height: 100%;
  position: relative;

  aside {
    background: #212640;
    box-sizing: border-box;
    float: left;
    height: 100%;
    padding: 2rem;
    position: relative;
    width: 36rem;
  }

  section.content {
    background: #f0f3f6;
    bottom: 0;
    box-shadow: 0 0 .5rem #000;
    top: 0;
    box-sizing: border-box;
    float: left;
    left: 36rem;
    position: absolute;
    right: 0;
    z-index: 300;
  }
}
