section.content {
  .button.browse {
    float: right;
  }

  blockquote {
    background: rgba(0, 0, 0, 0.05);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    padding: .4rem 2rem;

    p {
      font: 300 1.4rem/1 'Roboto Condensed', sans-serif;
      letter-spacing: .05rem;
      line-height: 2.4rem;
    }
  }

  ul {
    list-style: none;
    margin: 1rem 0;

    li {
      margin: .5rem 0;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    tr {
      td {
        background: rgba(255, 255, 255, 0.01);
      }
      &:nth-child(odd) {
        td {
          background: rgba(255, 255, 255, 0.03);
        }
      }

      &:hover {
        td {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }

    th, td {
      padding: 1rem 1.5rem;
      text-align: left;
      transition: background-color .2s;
    }

    th {
      border-bottom: 1px solid $base_8;
    }
  }

  code {
    color: $brand_pink;
  }

  &.cover {
    text-align: center;

    h1 {
      margin: 5rem auto;
      width: 80%;
    }

    h2 {
      margin: 1rem 0 0;
      padding: 4rem 0 0;
    }

    blockquote {
      border: none;
      margin-top: 8rem;
    }

    p {
      font-size: 1.5rem;
      padding-bottom: 2rem;
    }

    em {
      display: block;
      font-size: 1.2rem;
      padding-bottom: 4rem;
    }

    ul {
      margin: 0;
      padding: 0 0 2rem;
      list-style: none;

      li {
        font-size: 1.8rem;
        list-style: none;
        padding: 1rem 0;
      }
    }
  }
}

aside.meta {
  float: right;
  padding: 2.5rem;
  width: 30%;
  box-sizing: border-box;
}
