section.content {
  .search {
    background: #fff;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.1);
    height: 5rem;
    position: relative;

    i {
      font-size: 1.4rem;
      left: 3rem;
      position: absolute;
      top: 1.9rem;
    }

    input {
      border: none;
      color: #787c87;
      display: block;
      font-size: 1.5rem;
      height: 4.8rem;
      left: 5rem;
      line-height: 1;
      padding: 0 0 0 1rem;
      position: absolute;
      right: 0;
      top: .2rem;
      width: 100%;
    }
  }

  .options {
    background: #f5f7f9;
    box-shadow: 0 0 .3rem rgba(0, 0, 0, 0.1);
    height: 5rem;
  }

  .inner {
    padding: 2rem 3rem;
  }

  .results {
    li {
      @extend %clearfix;
      background: #fff;
      border-radius: .2rem;
      box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.05);
      cursor: pointer;
      margin: 1rem 0;
      min-height: 5rem;
      padding: 1.2rem;
      position: relative;

      &::after {
        background: #fff;
        border-bottom-left-radius: .2rem;
        border-top-left-radius: .2rem;
        bottom: 0;
        left: 0;
        position: absolute;
        top: 0;
        width: 3px;
      }

      &:hover {
        &::after {
          background: #dde8ef;
        }
      }

      &.selected {
        &::after {
          background-image: linear-gradient(-180deg, #99b0f1 0%, #ca7fe9 100%);
        }
      }

      img {
        border: 1px solid #fff;
        box-shadow: 0 .1rem .2rem rgba(0, 0, 0, 0.1);
        float: left;
        margin: 0 1.5rem 0 .3rem;
        width: 5rem;
      }

      .title, .meta, .tags {
        display: block;
        padding: .3rem 0 0;
      }

      .title {
        color: #464d5d;
        font-size: 1.4rem;
        font-weight: 500;
      }

      .meta {
        color: #818ca4;
        font-size: 1.1rem;
      }

      .tags {
        color: #d3dae2;
        font-size: 1.1rem;

        .tag {
          padding-right: 1rem;
        }
      }
    }
  }

  blockquote {
    background: rgba(0, 0, 0, 0.05);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    margin: 2rem 0;
    padding: .4rem 2rem;

    p {
      font: 300 1.4rem/1 'Roboto Condensed', sans-serif;
      letter-spacing: .05rem;
      line-height: 2.4rem;
    }
  }

  ul {
    list-style: none;
    margin: 1rem 0;

    li {
      margin: .5rem 0;
    }
  }

  table {
    border-collapse: collapse;
    width: 100%;

    tr {
      td {
        background: rgba(255, 255, 255, 0.01);
      }
      &:nth-child(odd) {
        td {
          background: rgba(255, 255, 255, 0.03);
        }
      }

      &:hover {
        td {
          background: rgba(255, 255, 255, 0.05);
        }
      }
    }

    th, td {
      padding: 1rem 1.5rem;
      text-align: left;
      transition: background-color .2s;
    }

    th {
      border-bottom: 1px solid $base_8;
    }
  }

  &.cover {
    text-align: center;

    h1 {
      margin: 5rem auto;
      width: 80%;
    }

    h2 {
      margin: 1rem 0 0;
      padding: 4rem 0 0;
    }

    blockquote {
      border: none;
      margin-top: 8rem;
    }

    p {
      font-size: 1.5rem;
      padding-bottom: 2rem;
    }

    em {
      display: block;
      font-size: 1.2rem;
      padding-bottom: 4rem;
    }

    ul {
      margin: 0;
      padding: 0 0 2rem;
      list-style: none;

      li {
        font-size: 1.8rem;
        list-style: none;
        padding: 1rem 0;
      }
    }
  }
}
