.title-bar {
  -webkit-app-region: drag;
  background-image: linear-gradient(-180deg, #3B2D80 2%, #2D166C 100%);
  background: #2D156C;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.8);
  color: #fff;
  height: 5.4rem;
  position: absolute;;
  width: 100%;
  z-index: 500;

  img {
    display: inline-block;
    margin-left: 12.5rem;
    padding: 1rem;
    width: 9.8rem;
  }
}
