.page .toc {
  .logo {
    display: block;
    text-align: center;
  }

  .articles.list {
    bottom: 0;
    left: 0;
    overflow-y: scroll;
    position: absolute;
    right: 0;
    top: 9rem;

    .folders {
      flex: 1;
      overflow-y: scroll;
      z-index: 211;
    }

    dt {
      color: #958CCD;
      font: 300 1.4rem/1 'Roboto Slab', serif;
      padding: 2.5rem 2rem 1.5rem;
    }

    dd {
      button {
        color: #bac0cc;
        cursor: pointer;
        display: block;
        font-weight: 300;
        line-height: 1.5rem;
        letter-spacing: .05rem;
        opacity: 0.5;
        padding: 1rem 2rem;
        text-align: left;
        transition: opacity .3s;
        width: 100%;

        i {
          padding-right: 1rem;
        }

        &:hover {
          opacity: 1;
        }

        &.selected {
          background: #7F2A66;
          color: #FFD2F2;
          opacity: 1;
        }
      }
    }
  }
}
